@model ComplexCommerce.Business.Category

@{
    ViewBag.MetaKeywords = Model.MetaKeywords;
    ViewBag.MetaDescription = Model.MetaDescription;
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<fieldset>
    <legend>Category</legend>

    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>

