@{
    ViewBag.Title = this.T("Not_Found_Title");
}

<h2 class="error">@ViewBag.Title</h2>

@this.T("Not_Found") 
@Html.ActionLink(this.T("Click_Here").ToString(), "Index", new { controller = "Home", localeId = System.Threading.Thread.CurrentThread.CurrentUICulture.LCID }) 
@this.T("To_Return_Home")
